<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularDart-Prime: pui-input </title>
    <link rel="stylesheet" href="../themes/aristo/theme.css">
    <link rel="stylesheet" href="../themes/jquery-ui.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../pui.css">
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
</head>
<body>
This is a simple menu.
<div puiMenuDemo>
    <pui-menu>
      <pui-menuHeader value="File"></pui-menuHeader>
      <pui-menuItem value="New" icon="ui-icon-document" actionListener="ctrl.showMsg('new')"></pui-menuItem>
      <pui-menuItem value="Open" icon="ui-icon-folder-open" actionListener="ctrl.showMsg('open')"></pui-menuItem>
      <pui-menuHeader value="Edit"></pui-menuHeader>
      <pui-menuItem value="Undo" icon="ui-icon-arrowreturnthick-1-w" ng-click="ctrl.showMsg('undo')"></pui-menuItem>
      <pui-menuItem value="Redo" icon="ui-icon-arrowreturnthick-1-e" ng-click="ctrl.showMsg('redo')"></pui-menuItem>
    </pui-menu>
    </div>
  <script type="application/dart" src="../main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
