  <div puiInputDemo>
    <h3>&lt;pui-accordion&gt; - a way of grouping dialog contents that's suited particularly well for large dialogs</h3>

    <pui-accordion ng-cloak header="Click me to hide or show my contents!" >
    Lorem ipsum sit dolorem!
    </pui-accordion>


    <pui-accordion header="Initially I'm collapsed." collapsed="true" ng-cloak >
    Lorem ipsum sit dolorem!
    </pui-accordion>

    <pui-accordion header="I can't be hidden." toggleable="false" ng-cloak>
    Lorem ipsum sit dolorem!
    </pui-accordion>

    <pui-accordion header="I can be hidden if the check box is checked." toggleable="{{ctrl.firstBoolean}}" ng-cloak>
    Toggling enabled:
    <pui-checkbox ng-model="ctrl.firstBoolean" ></pui-checkbox>
    </pui-accordion>


    <pui-accordion header="This accordion collapses horizontally" toggleable="true" toggleOrientation="horizontal" ng-cloak>
    I'm a shy one :).
    </pui-accordion>

    <pui-accordion header="This accordion row can be hidden programmatically." collapsed="ctrl.secondBoolean" ng-cloak>
      The content of this accordion can be hidden by clicking the check box below.
    </pui-accordion>
    Collapsed:
    <pui-checkbox ng-model="ctrl.secondBoolean" ></pui-checkbox>

  </div>

