
  <div puiInputDemo>
    <h3>Three simple pui-dropdown fields</h3>


    <table border="1" >
    <tr style="background-color:#CCC">
    <td>

    </td>
    <td>
    </td>
    <td>
        Model values (expressions in curly braces)
    </td>

    </tr>
    <tr>
    <td>
    Simple drop-down menu:
    </td>
    <td>
    <pui-dropdown ng-model="ctrl.firstField" >
      <option value="top dog">AngularPrime</option>
      <option value="promising newcomer">AngularPrime/Dart</option>
      <option value="foundation framework">PrimeUI</option>
    </pui-dropdown>
    </td>
    <td>
        {{ctrl.firstField}}
    </td>
    </tr>
    <tr>
    <td>
    Editable drop-down menu<br />(aka combobox)
    </td>
    <td>
    <pui-dropdown ng-model="ctrl.secondField" editable="true">
      <option value="top dog">AngularPrime</option>
      <option value="promising newcomer">AngularPrime/Dart</option>
      <option value="foundation framework">PrimeUI</option>
    </pui-dropdown>
    </td>
    <td>
        {{ctrl.secondField}}
    </td>
    </tr>
    <tr>
    <td>
    Drop-Down menu with filter:
    </td>
    <td>
    coming soon...
    </td>
    <td>

    </td>
    </tr>

    <tr>
    <td>
    Drop-Down menu with images:
    </td>
    <td>
    coming soon...
    </td>
    <td>

    </td>
    </tr>

    </table>
  </div>
