<!DOCTYPE html>
<html ng-app>
<head>
    <title>AngularDart-Prime: pui-textarea </title>
    <link rel="stylesheet" href="themes/aristo/theme.css">
    <link rel="stylesheet" href="themes/jquery-ui.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <div puiInputDemo>
    <h3>Text areas</h3>
    
    
    <table border="1" >
    <tr style="background-color:#CCC">
    <td>
    
    </td>
    <td>
    </td>
    <td>
        Model values (expressions in curly braces)
    </td>
    
    </tr>
    <tr>
    <td>
    First input field:
    </td>
    <td>
    <pui-input ng-model="ctrl.firstField" ></pui-input>
    </td>
    <td>
        {{ctrl.firstField}}
    </td>
    </tr>
    <tr>
    <td>
    Second input field:
    </td>
    <td>
    <pui-input ng-model="ctrl.secondField" style="background-color:#0F0"></pui-input>
    </td>
    <td>
        {{ctrl.secondField}}
    </td>
    </tr>
    <tr>
    <td>
    Input field with dynamic style:<br />(becomes red if empty)
    </td>
    <td>
    <pui-input ng-model="ctrl.thirdField" style="{{ctrl.thirdFieldStyle}}"></pui-input>
    </td>
    <td>
        {{ctrl.thirdField}}
    </td>
    </tr>
    
    </table>
  </div>
    
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
