  <div puiInputDemo>
     <h3>The &lt;pui-datatable&gt; is an advanced datatable widget insprired by the datatable component of PrimeFaces.</h3>
     The current version is an early prototype. Be prepared for API changes.<p>
     Planned changes:
     <ul>
      <li>Allow arbitrary content in the table cell (for instance, editable input fields).</li>
      <li>Add filters.</li>
      <li>Add paginators.</li>
      </ul>

    <pui-tabview>
      <pui-tab title="simple table" selected="true" style="height:500px">
      <pui-panel header="live demo" >
         <pui-datatable>
              <pui-row ng-repeat="row in ctrl.carTable" />
                <pui-column header="Brand">{{row.brand}}</pui-column>
                <pui-column header="Type"> {{row.type}}</pui-column>
                <pui-column header="Year"> {{row.year}}</pui-column>
                <pui-column header="Color">{{row.color}}</pui-column>
              </pui-row>
          </pui-datatable>

     </pui-panel>
     <pui-panel header="source code">

 <pre>
&lt;pui-datatable>
    &lt;pui-row ng-repeat="row in ctrl.carTable" />
       &lt;pui-column header="Brand">&#x007B;{row.brand}}&lt;/pui-column>
       &lt;pui-column header="Type"> &#x007B;{row.type}}&lt;/pui-column>
       &lt;pui-column header="Year"> &#x007B;{row.year}}&lt;/pui-column>
       &lt;pui-column header="Color">&#x007B;{row.color}}&lt;/pui-column>
    &lt;/pui-row>
&lt;/pui-datatable>
</pre>

      </pui-panel>
      </pui-tab>
      <pui-tab title="sort and close columns" style="height:500px">
      <pui-panel header="live demo" >
         <pui-datatable>
              <pui-row ng-repeat="row in ctrl.carTable" />
                <pui-column header="Brand" sortable="true" closable="true">{{row.brand}}</pui-column>
                <pui-column header="Type" >{{row.type}}</pui-column>
                <pui-column header="Year" sortable="true">{{row.year}}</pui-column>
                <pui-column header="Color" sortable="true" closable="true">{{row.color}}</pui-column>
              </pui-row>
          </pui-datatable>
     </pui-panel>
     <pui-panel header="source code">

 <pre>
    &lt;pui-datatable>
        &lt;pui-row ng-repeat="row in ctrl.carTable" />
          &lt;pui-column header="Brand" sortable="true" closable="true">&#x007B;{row.brand}}&lt;/pui-column>
          &lt;pui-column header="Type" >                                &#x007B;{row.type}} &lt;/pui-column>
          &lt;pui-column header="Year" sortable="true">                 &#x007B;{row.year}} &lt;/pui-column>
          &lt;pui-column header="Color" sortable="true" closable="true">&#x007B;{row.color}}&lt;/pui-column>
        &lt;/pui-row>
    &lt;/pui-datatable>
</pre>

      </pui-panel>
    </pui-tab>
          <pui-tab title="add, edit and remove rows" style="height:500px">
      <pui-panel header="live demo" >
         <pui-datatable>
              <pui-row ng-repeat="row in ctrl.carTable" />
                <pui-column header="Brand">{{row.brand}}</pui-column>
                <pui-column header="Type"> {{row.type}}</pui-column>
                <pui-column header="Year"> {{row.year}}</pui-column>
                <pui-column header="Color">{{row.color}}</pui-column>
              </pui-row>
          </pui-datatable>
          <pui-button icon="plus" ng-click="ctrl.addCar()" value="add car"></pui-button>

     </pui-panel>
     <pui-panel header="source code">
      <pre>
&lt;pui-datatable>
    &lt;pui-row ng-repeat="row in ctrl.carTable" />
      &lt;pui-column header="Brand">{{row.brand}}&lt;/pui-column>
      &lt;pui-column header="Type"> {{row.type}}&lt;/pui-column>
      &lt;pui-column header="Year"> {{row.year}}&lt;/pui-column>
      &lt;pui-column header="Color">{{row.color}}&lt;/pui-column>
    &lt;/pui-row>
&lt;/pui-datatable>
&lt;pui-button icon="plus" ng-click="ctrl.addCar()" value="add car">&lt;/pui-button>
        </pre>
      </pui-panel>
    </pui-tab>

    <pui-tab title="empty tables"  style="height:500px">
      <pui-panel header="live demo">
      <h3>Empty table (doesn't work yet):</h3>
          <pui-datatable>
              <pui-row ng-repeat="row in ctrl.emptyCarTable">
                <pui-column header="Brand" closable="true">{{row.brand}}</pui-column>
                <pui-column header="Year" sortable="true"> {{row.year}} </pui-column>
                <pui-column header="Color" closable="true">{{row.color}}</pui-column>
              </pui-row>
          </pui-datatable>

    </pui-panel>
     <pui-panel header="source code">

 <pre>
&lt;pui-datatable>
    &lt;pui-row ng-repeat="row in ctrl.emptyCarTable">
      &lt;pui-column header="Brand" closable="true">&#x007B;{row.brand}}&lt;/pui-column>
      &lt;pui-column header="Year" sortable="true"> &#x007B;{row.year}} &lt;/pui-column>
      &lt;pui-column header="Color" closable="true">&#x007B;{row.color}}&lt;/pui-column>
    &lt;/pui-row>
&lt;/pui-datatable>
</pre>

      </pui-panel>
    </pui-tab>

    <pui-tab title="putting it all together"  style="height:500px">
      <h3>Putting it all together</h3>
          <pui-datatable>
              <pui-row ng-repeat="row in ctrl.carTable" />
                <pui-column header="Brand" sortable="true" closable="true">{{row.brand}}</pui-column>
                <pui-column header="Type">                                 {{row.type}} </pui-column>
                <pui-column header="Year" sortable="true">                 {{row.year}} </pui-column>
                <pui-column header="Color" sortable="true" closable="true">{{row.color}}</pui-column>
              </pui-row>
              </pui-row>
          </pui-datatable>
          <pui-button icon="plus" ng-click="ctrl.addCar()" value="add car"></pui-button>
    </pui-panel>
     <pui-panel header="source code">

 <pre>
&lt;pui-datatable>
    &lt;pui-row ng-repeat="row in ctrl.carTable">
    &lt;pui-row ng-repeat="row in ctrl.carTable" />
      &lt;pui-column header="Brand" sortable="true" closable="true">{{row.brand}}&lt;/pui-column>
      &lt;pui-column header="Type">                                 {{row.type}} &lt;/pui-column>
      &lt;pui-column header="Year" sortable="true">                 {{row.year}} &lt;/pui-column>
      &lt;pui-column header="Color" sortable="true" closable="true">{{row.color}}&lt;/pui-column>
    &lt;/pui-row>
    &lt;/pui-row>
&lt;/pui-datatable>
&lt;pui-button icon="plus" ng-click="ctrl.addCar()" value="add car">&lt;/pui-button>
</pre>

      </pui-panel>
    </pui-tab>

      </div>


